/*Cosas generales del html, body, textos, footers*/
/*FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header img{
    width: 50px
}

body{
    background-color: hsl(0, 89%, 82%);
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom: 70px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul{
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0%;
    display: flex;
    gap: 50px
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

header{
    background-color: indianred;
    border-radius: 5px;
    margin: 20px;
}

footer{
  background-color: rgba(205, 92, 92, 0.324);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}