/*exclusivo al archivo index*/

.index main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto
}

#myself{
    width: 30vw;
    max-height: 30vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 30px;
}

.index main div{
    background-color: white;
    width: 40%;
    min-width: 300px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

